@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* ログイン画面 */
.logo_area {
  text-align: center;
}

.logo {
  width: 150px;
}

.top_frame {
  border-radius: 10px;
  background: #fff;
}

/* サイドバー */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
  padding-top: 20px;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

.side_image {
  width: 25px;
  margin: 0 5px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 90% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 100%;
}

.end_accept {
  color: #212529;
}

/* スクール予約詳細確認 */
.reserve_detail_table {
  width: 100%;
}

.reserve_detail_id {
  width: 10%;
}

.reserve_detail_tag {
  color: #fff;
  background: #03AAD2;
}

.reserve_detail_data:nth-child(odd) {
  background: #e0ffff;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_name {
  color: #6E6E6E;
}

.post_title {
  color: #000;
  font-weight: bold;
}

.sub_category {
  color: #FFF;
  background: #03AAD2;
  padding: 3px;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detail_post_title {
  font-size: 14px;
}

.detail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.btn_comment {
  text-align: right;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  border-radius: 5px;
  padding: .375rem .75rem;
  border: none;
  background: #999;
  color: #FFF;
  width: 49%;
  cursor: pointer;
}

/* .main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
} */

.main_categories span {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #999;
}

.sub_categories input {
  border: none;
  border-bottom: 1px solid #999;
  width: 70%;
  margin: 10px 0 10px 10px;
  cursor: pointer;
  background: none;
  text-align: left;
  font-size: 0.9rem;
}

.other_area {
  text-align: center;
  padding-top: 30px;
}

.btn_post {
  width: 100%;
}

.btn_text, .btn_text:hover {
  color: #FFF;
  text-decoration: none;
}

input.form-control {
  padding-left: 0;
}

.btn_like_posts {
  background: #E597B2;
}

.btn_my_posts {
  background: #FCD575;
}

.search_category {
  text-align: left;
}

.main_categories::after {
  content: "";
  position: absolute;
  border-top: solid 2px #999;
  border-right: solid 2px #999;
  width: 10px;
  height: 10px;
  transform: translate(-250%, 150%) rotate(135deg);
}

.main_categories.active::after {
  transform: translate(-250%, 150%) rotate(-45deg);
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  /* background: #FFF; */
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 180px;
  height: 200px;
  background: #FFF;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.search_conditions {
  border-bottom: 2px solid #ddd;
}

.search_conditions::after {
  content: "";
  position: absolute;
  border-top: solid 2px #999;
  border-right: solid 2px #999;
  width: 10px;
  height: 10px;
  transform: translate(2200%, -140%) rotate(135deg);
}

.search_conditions.active::after {
  transform: translate(2200%, -130%) rotate(-45deg);
}

.search_conditions span {
  cursor: pointer;
  display: block;
  font-size: 12px;
  color: #333;
}

.search_conditions_inner {
  display: none;
}

.search_text {
  color: #333;
  font-size: 20px;
}

.free_word {
  background: #ddd;
  border: none;
  border-radius: 5px;
  padding: 6px 0 6px 6px;
  width: 100%;
}

.free_word::placeholder {
  font-size: 12px;
}

.search_label {
  display: block;
  color: #333;
  font-size: 12px;
}

.search_select {
  background: #ddd;
  border: none;
  border-radius: 5px;
  padding: 6px 0 6px 6px;
  width: 30%;
  font-size: 12px;
  color: #333;
}

.search_accordion {
  padding: 6px;
}

.selected_gender span,
.selected_engineer span {
  color: #333;
  font-size: 12px;
}

.search_btn_area {
  text-align: center;
}

.search_btn {
  width: 80%;
}

.reset_btn {
  border: none;
  color: #03AAD2;
}

.subject_edit_btn {
  font-size: 13px;
  color: #03AAD2;
  cursor: pointer;
}

.subject_edit_btn::after {
  content: "";
  position: absolute;
  border-top: solid 2px #03AAD2;
  border-right: solid 2px #03AAD2;
  width: 10px;
  height: 10px;
  transform: translate(100%, 50%) rotate(135deg);
}

.subject_edit_btn.active::after {
  transform: translate(100%, 80%) rotate(-45deg);
}

.subject_inner {
  display: none;
}

.user_item {
  color: #aaa;
  font-weight: bold;
}

.user_data {
  font-weight: bold;
}
